<html lang="en">
  <%-include('./modules/head')%>
  <body>
    <%-include('./modules/nav')%>
    <div class="container mt-5">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Withdraw confirmed successfully!</h4>
        <p>Your Withdrawal has been completed.</p>
      </div>
    </div>
    <%-include('./modules/footer')%>
  </body>
</html>
